<h1>New Game</h1>

<div>
<ul class = "list-letters">
<%  @letters.each do |letter| %>
  <li><%= letter.capitalize %></li>
<% end %>
</ul>
</div>

<br>
<br>

<p>What is the longest word you can find ?</p>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Your word">
  <input type="submit" value="Play !">
  <input type="text" hidden name="letters" value="<%=@letters%>">
</form>

<br>

<%= link_to "Play again", new_path %>
